# Python
*.pyc
__pycache__/

# Environment
.env
.env.prod
.env.secrets
env.prod.yaml
venv/
venv_linux/
env/
*.sqlite3

# Django
db.sqlite3
/staticfiles
/media

# IDE
.vscode/
.idea/

# Node (se tiver frontend junto)
node_modules/

# ChromaDB (Vector Database persistence)
chroma_db_data/
