asgiref==3.9.1
Django==5.1.5
django-cors-headers==4.7.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
PyJWT==2.10.1
python-dotenv==1.1.1
sqlparse==0.5.3
tzdata==2025.2
google-genai==0.3.0
pillow==11.1.0
chromadb==1.3.5
pypdf==6.4.0
python-docx==1.2.0
beautifulsoup4==4.14.3
youtube-transcript-api==1.2.0
weasyprint==67.0
python-pptx==1.0.2
openpyxl==3.1.5
trafilatura==2.0.0
pymupdf4llm==0.2.9
yt-dlp==2025.12.8
sendgrid
django-ratelimit
pydub==0.25.1
audioop-lts; python_version >= '3.13'
rq
django-rq
redis
google-cloud-tasks
google-cloud-storage
django-storages[google]
gunicorn
pgvector==0.4.2
psycopg[binary]
dj-database-url
google-auth
google-api-python-client
sentry-sdk[django]>=2.0.0,<3.0.0
